body{
    background-image: url("img/bg.jpg") !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
   
}
.centrer {
    margin: 20px;
    width: 50%;
    margin-left: 20%;
}