body{
    background-image: url("../img/bg.jpg") !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}

.centrer{
   
    width: 50%;
    margin-left: 20%;
    
}
